<header>
  <nav class="navigation bg-white border-gray-200 px-4 py-2.5 dark:">
    <div class="flex flex-wrap justify-between items-center mx-auto">
      <img
        src="assets/images/header-logo.png"
        class="mr-3 h-6 sm:h-9 header-logo"
        alt="Flowbite Logo"
      />

      <div class="flex items-center lg:order-2 btn-container">
        <app-button width="195px" class="btn-primary" type="primary"
          >დაგვიკავშირდით</app-button
        >
        <div class="language-switcher">
          <div class="switch">
            <input
              id="language-toggle"
              class="check-toggle check-toggle-round-flat"
              type="checkbox"
            />
            <label for="language-toggle"></label>
            <span class="on">GEO</span>
            <span class="off">ENG</span>
          </div>
        </div>
      </div>

      <div class="burger-box">
         <div class="burger-icon">
           <img (click)="onBurgerShow()" src="/assets/images/burger.svg" alt="">
         </div>
      </div>

      <div
        class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1 navbar-lists"
        id="mobile-menu-2"
      >
        <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 nav-ul"
        >
          <li>
            <a
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              >მთავარი გვერდი</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/about-us']"
              routerLinkActive="router-link-active"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              >ჩვენ შესახებ</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/my-partners']"
              routerLinkActive="router-link-active"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              >პარტნიორები</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/projects']"
              routerLinkActive="router-link-active"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              >პროექტები</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/activity']"
              routerLinkActive="router-link-active"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              >საქმიანობა</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/team']"
              routerLinkActive="router-link-active"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              >თანამშრომლები</a
            >
          </li>
        </ul>
      </div>


 
      <div class="mobile-menu" *ngIf="isShow" >

            <div  class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1 mobile-lists"
              id="mobile-menu-2">
              <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 nav-ul">
                <li>
                  <a [routerLink]="['/home']" routerLinkActive="router-link-active"
                    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:">მთავარი
                    გვერდი</a>
                </li>
                <li>
                  <a [routerLink]="['/about-us']" routerLinkActive="router-link-active"
                    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:">ჩვენ
                    შესახებ</a>
                </li>
                <li>
                  <a [routerLink]="['/my-partners']" routerLinkActive="router-link-active"
                    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:">პარტნიორები</a>
                </li>
                <li>
                  <a [routerLink]="['/projects']" routerLinkActive="router-link-active"
                    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:">პროექტები</a>
                </li>
                <li>
                  <a [routerLink]="['/activity']" routerLinkActive="router-link-active"
                    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:">საქმიანობა</a>
                </li>
                <li>
                  <a [routerLink]="['/team']" routerLinkActive="router-link-active"
                    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:">თანამშრომლები</a>
                </li>
              </ul>
            </div>
         <div class="btn-area">
<app-button *ngIf="isShow" width="100%" class="btn-primary contact-btn" type="primary">დაგვიკავშირდით</app-button>
         </div>
      
      </div>
    </div>
  </nav>
</header>
