.button {
  min-width: 186px;
  height: 48px;
  border: 1px solid;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-family: 'AvenirNextGeorgian-Regular';
  text-transform: uppercase;
  font-variant: all-petite-caps;

  &--primary {
    background-color: #f58634;
  }

  &--secondary {
    background-color: #245aa3;
  }
}
