.button {
    min-width: 195px;
    height: 48px;
    border: 1px solid;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-family: 'AvenirNextGeorgian-Regular';
    text-transform: uppercase;
    
  
    &--primary {
      background-color: #F58634;
    }
  
    &--secondary {
      background-color: #245AA3;
    }
    
    &--awardsbtn {
      min-width: 163px;
      height: 48px;
      border: 1px solid;
      border-radius: 100px;
      color: white;
      font-size: 14px;
      line-height: 21px;
      font-family: Avenir Next georgian;
      text-transform: uppercase;
      background-color: #245AA3;
      font-family: 'Avenir Next Georgian';
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
    }
  }





