.projects{
    font-family: 'AvenirNextGeorgian-Bold';
    font-size: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-left:160px;
    color: #141414;
}


   .owl-carousel .owl-item  .img-parliament{
    width: 925px;
    height: 586px;
    left: 160px;
    top: 1662px;
}


