#owl-demo .item {
  background: #a1def8;
  padding: 30px 0px;
  display: block;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

// .carousel-container {
//   margin-left: 160px;
// }

.container{
  padding: 0 16px;
}

section {
  // padding-left: 160px;
  font-family: 'AvenirNextGeorgian';
  position: relative;
  
}

.service-title {
  width: 338px;
  height: 54px;
  left: 160px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #141414;
}

.services {
  &__paragraph {
    width: 790px;
    height: 42px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(20, 20, 20, 0.6);
  }
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  margin-top: 11px;
  // margin-left:10px;
  height: 315px;
  width: 343px;
  
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // margin-left: 3px;
}

h2 {
  font-size: 16px;
  margin-left: 19px;
  font-family: 'AvenirNextGeorgian-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 25px;
}

li {
  font-size: 14px;
  font-family: 'AvenirNextGeorgian-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-top: 8px;
}

li::before {
  content: '\2022';
  color: #f58634;
  margin: 1rem;
}

ul:hover li::before {
  color: white;
}

.card:hover {
  background-color: #f58634;
  color: white;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-slider-controls {
  display: flex;
  overflow-x: auto;
  margin-top: 40px;
  // margin-right: 155px;
}

.left-arrow {
  margin-right: 20px;
}

// ::ng-deep {
//   .owl-stage {
//     width: 2200px !important;
//     margin-left: 20px !important;
//   }
// }

@media screen and (max-width: 800px){
  .service-title{
    font-size: 18px;
  }
  .intro{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .services__paragraph{
    // width: 343px;
    height: 80px;
    font-family: 'AvenirNextGeorgian-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
  }

  .card-slider-controls{
    position: absolute;
    margin-bottom: 186px;
    // margin-left: 275px;
  }
  img{
    max-width: 72%;
    height: auto;
  }
  .left-arrow{
    margin-right: 7px;
  }

  .carousel-container{
    width:100%;
  } 
 
}
