<section class="our-services">
  <h1 class="service-title">ჩვენი სერვისები </h1>
  <div class="intro">
      <div class="services">
          <p>ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით ხანგრძლივი,<br> 
          მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და კომფორტულ გარემოს.</p>
      </div>
      <div class="card-slider-controls"  >
        <button class="left-arrow" ><img src="assets/images/left-arrow.png" alt=""></button>
        <button ><img src="assets/images/right-arrow.png" alt=""></button>
        
      </div>
  </div>
</section>

<div class="carousel-container" >
<owl-carousel-o  [options]="customOptions" >
  <ng-template carouselSlide [option]="OwlOptions" *ngFor="let item of cards" >
    <div class="card-box" >
      <div class="card"   >
        <ul>
          <h2>{{item.title}}</h2>
          <li>{{item.description}}</li>
          <li>{{item.description2}}</li>
          <li>{{item.description3}}</li>
          <li>{{item.description4}}</li>
          <li>{{item.description5}}</li>
        </ul>
    </div>
    </div>
      
   </ng-template>

     <!-- <ng-template carouselSlide>
    
    <div class="card">
      <ul>
        <h2>სუსტი დენები</h2>
        <li>კომპიუტერია, ტელეფონია, ტელევიზია</li>
        <li>ხანძარსაწინააღმდეგო სიგნალიზაცია</li>
        <li>ვიდეო მეთვალყურეობა</li>
        <li>ფონური მუსიკა</li>
        <li>სისტემების კომპიუტერული მართვა (BMS)</li>
      </ul>
    </div>
    
  
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <ul>
        <h2>სუსტი დენები</h2>
        <li>კომპიუტერია, ტელეფონია, ტელევიზია</li>
        <li>ხანძარსაწინააღმდეგო სიგნალიზაცია</li>
        <li>ვიდეო მეთვალყურეობა</li>
        <li>ფონური მუსიკა</li>
        <li>სისტემების კომპიუტერული მართვა (BMS)</li>
      </ul>
    </div>
    
  </ng-template>
  <ng-template carouselSlide>
    
    <div class="card">
      <ul>
        <h2>სუსტი დენები</h2>
        <li>კომპიუტერია, ტელეფონია, ტელევიზია</li>
        <li>ხანძარსაწინააღმდეგო სიგნალიზაცია</li>
        <li>ვიდეო მეთვალყურეობა</li>
        <li>ფონური მუსიკა</li>
        <li>სისტემების კომპიუტერული მართვა (BMS)</li>
      </ul>
    </div>
    
  
  </ng-template>
  <ng-template carouselSlide>
   
    <div class="card">
      <ul>
        <h2>სუსტი დენები</h2>
        <li>კომპიუტერია, ტელეფონია, ტელევიზია</li>
        <li>ხანძარსაწინააღმდეგო სიგნალიზაცია</li>
        <li>ვიდეო მეთვალყურეობა</li>
        <li>ფონური მუსიკა</li>
        <li>სისტემების კომპიუტერული მართვა (BMS)</li>
      </ul>
    </div>
  </ng-template>    --> 

</owl-carousel-o> 

</div>


