<div class="container">
  <section class="our-services">
    <div class="wrapper-container">
      <div class="service-title-container">
        <h1 class="service-title">ჩვენი სერვისები</h1>
      </div>
      <!-- <div class="buttons-container-mobile">
        <button (click)="carousel.prev()" class="left-arrow">
          <img src="assets/images/left-arrow.png" alt="" />
        </button>
        <button (click)="carousel.next()">
          <img src="assets/images/right-arrow.png" alt="" />
        </button>
      </div> -->
    </div>
    <div class="intro">
      <p class="services__paragraph">
        ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით
        ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და
        კომფორტულ გარემოს.
      </p>
      <div class="buttons-container">
        <button (click)="carousel.prev()" class="left-arrow">
          <img src="assets/images/left-arrow.png" alt="" />
        </button>
        <button (click)="carousel.next()">
          <img src="assets/images/right-arrow.png" alt="" />
        </button>
      </div>
    </div>
  </section>
  <div class="carousel-container">
    <owl-carousel-o #carousel [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of cards">
        <div class="card-box">
          <div class="card">
            <ul>
              <h2>{{ item.title }}</h2>
              <li *ngFor="let serviceItem of item.services">
                {{ serviceItem }}
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div> 
</div>






<!-- <div class="full">
  <div class="carousel-container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of cards">
        <div class="slider-card">
          <ul>
            <h2>{{ item.title }}</h2>
            <li *ngFor="let serviceItem of item.services">
              {{ serviceItem }}
            </li>
          </ul>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div> -->
