<section class="our__projects">
  <div class="flex justify-between">
    <div class="our__projects--container">
      <div class="our__projects--container--heading">ჩვენი პროექტები</div>
      <div class="our__projects--container--text">
        შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული
        ნაწარმის შემქმნელებს, რეალურთან მაქსიმალურად მიახლოებული შაბლონი
        წარუდგინონ შემფასებელს
      </div>
    </div>
    <div class="our__projects--buttons flex gap-3">
      <app-button width="182px" type="primary">ყველა პროექტი</app-button>
      <app-button [disabled]="true" width="144px" type="primary"
        >მიმდინარე</app-button
      >
      <app-button [disabled]="true" width="175px" type="primary"
        >დასრულებული</app-button
      >
    </div>
  </div>
  <div class="our__projects--main">
    <div
      class="our__projects--main--minicontainers flex flex-row gap-5"
      *ngFor="let item of List"
    >
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
    </div>

    <div
      class="our__projects--main--minicontainers mb-40 flex flex-row gap-5"
      *ngFor="let item of List"
    >
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
      <div class="our__projects--main--minicontainers--div flex flex-col">
        <img
          class="our__projects--main--minicontainers--div--img"
          [src]="item.first.img"
          alt=""
        />
        <div class="our__projects--main--minicontainers--div--stage">
          {{ item.first.stage }}
        </div>
        <div class="our__projects--main--minicontainers--div--name">
          {{ item.first.name }}
        </div>
      </div>
    </div>
  </div>
</section>
