.our__projects {
  padding: 100px 160px 203px 160px;

  &--container {
    &--heading {
      font-family: 'AvenirNextGeorgian-Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #141414;
      height: 54px;
    }

    &--text {
      font-family: 'AvenirNextGeorgian-Regular';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: rgba(20, 20, 20, 0.6);
      width: 790px;
      margin-top: 20px;
    }
  }

  &--buttons {
    justify-content: center;
    align-items: center;
  }

  &--main {
    &--minicontainers {
      &--div {
        margin-top: 40px;

        &--img {
          width: 385px;
          height: 244px;
        }
        &--stage {
          font-family: 'AvenirNextGeorgian-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: #f58634;
          margin-top: 12px;
        }
        &--name {
          font-family: 'Avenir Next Georgian';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: #141414;
        }
      }
    }
  }
}
.firstdiv {
  width: 1600px;
}

@media only screen and (max-width: 800px) {
  .our__projects {
    padding: 19px 16px 90px 16px;
  }

  .firstdiv {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .our__projects--container--heading {
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #141414;
    width: 100%;
    height: 36px;
  }

  .our__projects--container--text {
    font-family: 'AvenirNextGeorgian-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(20, 20, 20, 0.6);
    width: 100%;
    margin-top: 8px;
  }

  .our__projects--buttons {
    margin-top: 20px;
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .our__projects--main {
    flex-direction: column;
  }

  .our__projects--main--minicontainers {
    display: block;
  }

  .our__projects--main--minicontainers--div {
    margin-top: 20px;
  }

  .our__projects--main--minicontainers--div--name {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #141414;
  }

  .our__projects--main--minicontainers--div--img {
    width: 100%;
  }
}
