<!-- <section class="our-team-section">
  <div class="our-team-section__heading--arrow flex">
    <h1 class="our-team-section__heading--arrow__heading">სხვა პროექტები</h1>

    <div class="slider__arrow">
      <button (click)="prev()" class="left__arrow cursor-pointer">
        <img src="assets/img/leftArrow.jpg" alt="" />
      </button>

      <button (click)="next()" class="right__arrow cursor-pointer">
        <img src="assets/img/rightArrow.jpg" alt="" />
      </button>
    </div>
  </div>

  <div class="slider mt-6">
    <div class="slider__track" #sliderTrack>
      <div class="slider__item" *ngFor="let item of sliderData">
        <div class="cont__div left flex flex-col">
          <div class="image--div">
            <img [src]="item.left.img" />
          </div>
          <div class="title mt-3">
            {{ item.left.title }}
          </div>
          <div class="name">
            {{ item.left.NameSurname }}
          </div>
        </div>
        <div class="cont__div middle flex flex-col">
          <div class="image--div">
            <img src="{{ item.middle.img }}" />
          </div>
          <div class="title mt-3">
            {{ item.left.title }}
          </div>
          <div class="name">
            {{ item.left.NameSurname }}
          </div>
        </div>
        <div class="cont__div right flex flex-col">
          <div class="image--div">
            <img src="{{ item.right.img }}" />
          </div>
          <div class="title mt-3">
            {{ item.left.title }}
          </div>
          <div class="name">
            {{ item.left.NameSurname }}
          </div>
        </div>
        <div class="cont__div last flex flex-col">
          <div class="image--div">
            <img src="{{ item.last.img }}" />
          </div>
          <div class="title mt-3">
            {{ item.left.title }}
          </div>
          <div class="name">
            {{ item.left.NameSurname }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-slider
  [textAlign]="'left'"
  [data]="sliderData"
  [heading]="'სხვა პროექტები'"
></app-slider>
