<section class="flex">
  <div class="mt-40 title--section">
    <h1>ჯილდოები, სიგელები</h1>

    <div class="flex flex-col ... mt-5 paragraph">
      <p>
        შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული
        <br />
        ნაწარმის შემქმნელებს, რეალურთან მაქსიმალურად მიახლოებული შაბლონი
        <br />
        წარუდგინონ შემფასებელს
      </p>
      <div class="desktop awardsbtn--div">
        <app-button
          (clicked)="redirectToAwards()"
          type="secondary"
          width="163px"
          >ნახე სრულად</app-button
        >
      </div>
    </div>
  </div>
  <div class="flex flex-nowrap overflow-hidden photo--section">
    <div class="mt-10 awards">
      <div class="flex flex-col ...">
        <div class="img-container">
          <img src="assets/img/award1.jpg" alt="" />
        </div>
        <div class="mt-4 img-container">
          <img src="assets/img/award2.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="tablet awards">
      <div class="flex ml-5 flex-col ...">
        <div class="img-container">
          <img src="assets/img/award3.jpg" alt="" />
        </div>
        <div class="mt-4 img-container">
          <img src="assets/img/award4.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="mt-10 awards">
      <div class="flex ml-5 flex-col ...">
        <div class="img-container">
          <img src="assets/img/award3.jpg" alt="" />
        </div>
        <div class="mt-4 img-container">
          <img src="assets/img/award3.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="tablet awards">
      <div class="flex ml-5 flex-col ...">
        <div class="img-container">
          <img src="assets/img/award1.jpg" alt="" />
        </div>
        <div class="mt-4 img-container">
          <img src="assets/img/award2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="mobile">
    <app-button (clicked)="redirectToAwards()" type="secondary" width="100%"
      >ნახე სრულად</app-button
    >
  </div>
</section>
