section {
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 200px;
}
section h1 {
    width: 480px;
    height: 54px;
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #141414;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    // margin: auto;


    .slider-track {
        position: absolute;
        top: 0;
        left: 0;
        width: 102%;
        display: flex;
        transition: transform 0.5s ease-in-out;

        .slider-item {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            padding-left: 20px;

            .left,
            .middle ,
            
            .right {
                width: 600px;

                .text {
                    span {
                        display: block;
                        width: 460px;

                    }
                }

                .bottom {
                    display: flex;
                    gap: 17px;

                    .bottom-left {
                        background: #D9D9D9;
                        border-radius: 60%;
                        margin-top: 24px;
                        width: 60px;
                        height: 60px;
                        // img {
                                       
                        // }
                    }

                    .bottom-right {
                        display: flex;
                        flex-direction: column;
                        margin-top: 31px;
                        
                    }
                }
            }

        }
    }

    .slider-balls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        .slider-ball {
            width: 16px;
            height: 16px;
            margin: 0 8px;
            border: 2px solid #ccc;
            border-radius: 50%;
            cursor: pointer;

            &.active {
                border: 1px solid orange;
                position: relative;

                &::before {
                    content: '';
                    width: 11px;
                    height: 11px;
                    display: block;
                    border-radius: 50%;
                    background-color: orange;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
.left {
    border-right: 1px solid rgba(20, 20, 20, 0.1);
}
.middle {
    padding-left: 20px;
    border-right: 1px solid rgba(20, 20, 20, 0.1);
}
.right {
    padding-left: 20px;
}
.name--surname {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    width: 110px;
    display: flex;
    align-items: center;
    color: #245AA3;
    font-family: 'AvenirNextGeorgian-Bold';
}
.company--name {
    font-family: 'AvenirNextGeorgian-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 173px;
    line-height: 150%;
    color: rgba(20, 20, 20, 0.6);
}
.slider--text {
    width: 480px;
    font-family: 'AvenirNextGeorgian-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(20, 20, 20, 0.6);
}