section {
  padding-left: 160px;
  padding-right: 160px;
  margin-top: 160px;
}
section h1 {
  width: 480px;
  height: 54px;
  font-family: 'AvenirNextGeorgian-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #141414;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;

  .slider-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    display: flex;
    transition: transform 0.5s ease-in-out;

    .slider-item {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      padding-left: 20px;

      .left,
      .middle,
      .right {
        width: 600px;

        .text {
          span {
            display: block;
            width: 460px;
          }
        }

        .bottom {
          display: flex;
          gap: 17px;

          .bottom-left {
            background: #d9d9d9;
            border-radius: 60%;
            margin-top: 24px;
            width: 60px;
            height: 60px;
          }

          .bottom-right {
            display: flex;
            flex-direction: column;
            margin-top: 31px;
          }
        }
      }
    }
  }

  .slider-balls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .slider-ball {
      width: 16px;
      height: 16px;
      margin: 0 8px;
      border: 2px solid #ccc;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        border: 1px solid orange;
        position: relative;

        &::before {
          content: '';
          width: 11px;
          height: 11px;
          display: block;
          border-radius: 50%;
          background-color: orange;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.left {
  border-right: 1px solid rgba(20, 20, 20, 0.1);
}

.middle {
  padding-left: 20px;
  border-right: 1px solid rgba(20, 20, 20, 0.1);
}

.right {
  padding-left: 20px;
}

.name--surname {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  width: 110px;
  display: flex;
  align-items: center;
  color: #245aa3;
  font-family: 'AvenirNextGeorgian-Bold';
  white-space: nowrap;
}

.company--name {
  font-family: 'AvenirNextGeorgian-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  width: 173px;
  line-height: 150%;
  color: rgba(20, 20, 20, 0.6);
}

.slider--text {
  width: 480px;
  font-family: 'AvenirNextGeorgian-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(20, 20, 20, 0.6);
}

.vector {
  background: url('/assets/img/needourhelp-vector.jpg') no-repeat center right;
  position: absolute;
  height: 546.3700561523px;
  width: 583.370056px;
  left: 1336px;
  top: 4100px;
  border-radius: 0px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .vector {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .owl-container {
    padding: 0 16px;
    width: 100%;
  }

  .heading {
    width: 100%;
    height: 20px;
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #141414;
  }

  .carousel-container {
    background-color: #14141408;
    padding: 20px;
  }

  .text {
    span {
      display: block;
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    gap: 17px;

    .bottom-left {
      background: #d9d9d9;
      border-radius: 60%;
      margin-top: 24px;
      width: 60px;
      height: 60px;
    }

    .bottom-right {
      display: flex;
      flex-direction: column;
      margin-top: 31px;
    }
  }

  .company--name {
    width: 100%;
  }

  // .slider-balls {
  //   display: flex;
  //   margin-top: 20px;
  //   justify-content: center;

  //   .slider-ball {
  //     width: 16px;
  //     height: 16px;
  //     margin: 0 8px;
  //     border: 2px solid #ccc;
  //     border-radius: 50%;
  //     cursor: pointer;

  //     &.active {
  //       border: 1px solid orange;
  //       position: relative;

  //       &::before {
  //         content: '';
  //         width: 11px;
  //         height: 11px;
  //         display: block;
  //         border-radius: 50%;
  //         background-color: orange;
  //         position: absolute;
  //         top: 50%;
  //         left: 50%;
  //         transform: translate(-50%, -50%);
  //       }
  //     }
  //   }
  // }

  // .owl-theme .owl-nav .owl-dots {
  //   position: absolute;
  //   margin-top: 30px;
  //   margin-left: 30%;
  // }

  // .owl-nav button {
  //   position: absolute;
  //   top: 50%;
  //   background-color: #000;
  //   color: #fff;
  //   margin: 0;
  //   transition: all 0.3s ease-in-out;
  // }

  // .owl-nav button.owl-prev {
  //   left: 0;
  // }

  // .owl-nav button.owl-next {
  //   right: 0;
  // }

  // .owl-dots {
  //   text-align: center;
  //   padding-top: 15px;
  //   position: absolute;
  // }

  // .owl-dots button.owl-dot {
  //   width: 15px;
  //   height: 15px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   background: #e8ad24;
  //   margin: 0 3px;
  // }

  // .owl-dots button.owl-dot.active {
  //   background-color: #e8ad24;
  //   background: 1px solid #e8ad24;
  // }

  // .owl-dots button.owl-dot:focus {
  //   outline: none;
  // }

  // .owl-nav button {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   background: rgba(255, 255, 255, 0.38) !important;
  // }

  // .owl-theme .owl-dots .owl-dot span {
  //   width: 10px;
  //   height: 10px;
  //   margin: 5px 7px;
  //   background: #141414;
  //   display: block;
  //   transition: opacity 200ms ease;
  //   border-radius: 30px;
  // }

  // span {
  //   font-size: 70px;
  //   position: relative;
  //   top: -5px;
  // }

  // .owl-nav button:focus {
  //   outline: none;
  // }

  // .owl-theme .owl-dots .owl-dot.active span,
  // .owl-theme .owl-dots .owl-dot:hover span {
  //   background: red;
  // }

  // .owl-theme .owl-nav .owl-dots {
  //   position: absolute;
  //   margin-top: 30px;
  //   margin-left: 30%;
  // }

  // .owl-dots {
  //   text-align: center;
  // }
  // .owl-dots button.owl-dot.active span,
  // .owl-dots button.owl-dot:hover span {
  //   background-color: #feae00;
  //   border-radius: 50%;
  //   height: 12px;
  //   width: 12px;
  //   position: absolute;
  //   top: 1px;
  //   left: 1px;
  // }
  // .owl-dots button.owl-dot {
  //   border: 1px solid gray;
  //   background: white;
  //   border-radius: 50%;
  //   height: 16px;
  //   width: 16px;
  //   position: relative;
  // }

  // .owl-dots {
  //   background-color: #245aa3;
  // }

  // .owl-carousel owl-theme .owl-dots .owl-dot {
  //   background: red;
  // }
  // .owl-carousel {
  //   background-color: red;
  // }

  // .owl-theme {
  //   background: red;
  // }
  ::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: #d6d6d6 !important;
  }

  ::ng-deep .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #feae00 !important;
  }

  ::ng-deep .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    margin-top: 30px;
    left: 25%;
    right: 25%;
  }
}
