<section class="smart mt-8">
  <div class="smart__container">
    <div class="smart__container--heading">ახალციხე სმარტი</div>
    <div class="smart__container--title mt-4">დასრულებულია</div>
  </div>
  <div class="desktop smart__image--container">
    <div class="smart__image--container--list">
      <div class="smart__image--container--list--heading">
        შესრულებული სამუშაო
      </div>
      <div class="smartDiv flex mt-4">
        <div class="smart__image--container--list--firstlist flex flex-col">
          <ul class="circle">
            <li>გათბობა-კონდიცირება</li>
            <li class="mt-4">ვენტილაცია</li>
            <li class="mt-4">კანალიზაცია</li>
            <li class="mt-4">წყალმომარაგება</li>
            <li class="mt-4">ელექტროობა</li>
          </ul>
        </div>
        <div class="smart__image--container--list--secondlist flex flex-col">
          <ul class="circle">
            <li>ვიდეო თვალყურია</li>
            <li class="mt-4">სახანძრო სისტემები</li>
            <li class="mt-4">
              სრული სისტემების <br />
              კომპიუტერული მართვა BMS
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="smart__image--container--photo mt-5"></div>
  </div>

  <div class="mobile-photo mt-5">
    <img src="./assets/img/smart-mobile.jpg" alt="smart" />
  </div>
  <div class="mobile">
    <div class="orange--container flex-col">
      <div class="orange--heading">შესრულებული სამუშაო</div>
      <div class="smart__image--container--list--firstlist mt-4">
        <ul class="circle">
          <li>გათბობა-კონდიცირება</li>
          <li class="mt-4">ვენტილაცია</li>
          <li class="mt-4">კანალიზაცია</li>
          <li class="mt-4">წყალმომარაგება</li>
          <li class="mt-4">ელექტროობა</li>
          <li class="mt-4">ვიდეო თვალყურია</li>
          <li class="mt-4">სახანძრო სისტემები</li>
          <li class="mt-4">
            სრული სისტემების <br />
            კომპიუტერული მართვა BMS
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="smart__text--container flex flex-col items-center">
    <div class="smart__text--container--firsttext">
      Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია. იგი
      სტანდარტად 1500-იანი წლებიდან იქცა, როდესაც უცნობმა <br />
      მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. მისი ტექსტი
      არამარტო 5 საუკუნის მანძილზე შემორჩა, არამედ მან დღემდე, <br />
      ელექტრონული ტიპოგრაფიის დრომდეც უცვლელად მოაღწია. განსაკუთრებული
      პოპულარობა მას 1960-იან წლებში გამოსულმა Letraset-ის <br />
      ცნობილმა ტრაფარეტებმა მოუტანა, უფრო მოგვიანებით კი — Aldus PageMaker-ის
      ტიპის საგამომცემლო პროგრამებმა, რომლებშიც Lorem Ipsum-ის <br />
      სხვადასხვა ვერსიები იყო ჩაშენებული.
    </div>
    <div class="smart__text--container--secondtext mt-5">
      გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი
      ფესვები ჯერკიდევ ჩვ. წ. აღ-მდე 45 წლის დროინდელი <br />
      კლასიკური ლათინური ლიტერატურიდან მოდის. ვირჯინიის შტატში მდებარე
      ჰემპდენ-სიდნეის კოლეჯის პროფესორმა რიჩარდ მაკკლინტოკმა <br />
      აიღო ერთ-ერთი ყველაზე იშვიათი ლათინური სიტყვა "consectetur" Lorem
      Ipsum-პასაჟიდან და გადაწყვიტა მოეძებნა იგი კლასიკურ <br />
      ლიტერატურაში. ძიება შედეგიანი აღმოჩნდა — ტექსტი Lorem Ipsum გადმოწერილი
      ყოფილა ციცერონის "de Finibus Bonorum et Malorum"-ის 1.10.32 <br />
      და 1.10.33 თავებიდან. ეს წიგნი ეთიკის თეორიის ტრაქტატია, რომელიც
      რენესანსის პერიოდში ძალიან იყო გავრცელებული. Lorem Ipsum-ის <br />
      პირველი ხაზი, "Lorem ipsum dolor sit amet..." სწორედ ამ წიგნის 1.10.32
      თავიდანაა.
    </div>
  </div>
</section>
