<section>
    <h1 class="heading">ჩვენი გუნდი</h1>
    <div class="slider mt-16">
        <div class="slider-track" #sliderTrack>
            <div class="slider-item" *ngFor="let item of sliderData">
                <div class="left flex flex-col">
                    <div class="img">
                        <div class="slider--img">
                            {{item.left.img}}
                        </div>
                    </div>
                    <div class="name--surname">
                        <div class="slider--namesurname">
                            {{item.left.NameSurname}}
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="bottom-left">
                            <img [src]="item.left.img">
                        </div>
                        <div class="bottom-right">
                            <span class="name--surname">{{item.left.title}}</span>
                            <span class="company--name">{{item.left.companyName}}</span>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="text">
                        <span class="slider--text">
                            {{item.middle.text}}
                        </span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-left">
                            <img [src]="item.middle.img">
                        </div>
                        <div class="bottom-right">
                            <span class="name--surname">{{item.middle.title}}</span>
                            <span class="company--name">{{item.middle.companyName}}</span>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="text">
                        <span class="slider--text">
                            {{item.right.text}}
                        </span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-left">
                            <img [src]="item.right.img">
                        </div>
                        <div class="bottom-right">
                            <span class="name--surname">{{item.right.title}}</span>
                            <span  class="company--name">{{item.right.companyName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="slider-balls" #sliderBalls>
            <div class="slider-ball" [ngClass]="{'active':i === 0}"
                    *ngFor="let item of sliderData;let i = index"
                    (click)="onClickBall(i)"></div>
        </div>     -->
      </div>
</section>