<section class="awards flex flex-col">
  <div class="awards__title">
    <h1>ჯილდოები, სიგელები</h1>
  </div>
  <div class="partners mt-6">
    <div class="flex flex-col">
      <div class="flex gap-5 flex-row ">
        <div class="awards__img-container">
          <img src="assets/img/award3.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/award2.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/award4.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/award1.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/award3.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/award3.jpg" alt="" />
        </div>
      </div>
      <div class="flex space-x-5 flex-row mt-4">
        <div class="awards__img-container">
          <img src="assets/img/awards2-1.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards2-2.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards2-3.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards2-4.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards2-5.jpg" alt="" />
        </div>
      </div>
      <div class="flex gap-5 flex-row mt-4">
        <div class="awards__img-container">
          <img src="assets/img/awards3-1.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards3-2.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards3-3.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards3-4.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards3-5.jpg" alt="" />
        </div>
        <div class="awards__img-container">
          <img src="assets/img/awards3-6.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
