<section class="contact-us">
    <div class="title-box">
        <h1>დაგვიკავშირდით</h1>
        <div class="title flex-col ">
            <h5>შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს</h5>
            <h6>რეალურთან მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს</h6>
        </div>
        
    </div>

    <div class="form">
       <div class="form__left">
            <div class="service">
                <p class="service__addres">მისამართი</p>
                <h3 class="service__info">ქ. თბილისი, ლუბლიანას ქ #56</h3>
                <p class="service__addres">ელ.ფოსტა</p>
                <h3 class="service__info">Info@casacalda.ge</h3>
                <p class="service__addres">ტელეფონი</p>
                <h3 class="service__info">032 2 311 525</h3>
             <p class="service__addres">სერვისი</p>
                <h3 class="service__info">032 2 455 554</h3>
            </div>
       </div>
       <div class="form__right"></div>
    </div>
</section>

