<section class="contact-us">
  <div class="title-box">
    <div class="container">
      <h1>დაგვიკავშირდით</h1>
    </div>
    <div class="title flex-col">
      <h5>
        შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული
        ნაწარმის შემქმნელებს
      </h5>
      <h6>რეალურთან მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს</h6>
    </div>
  </div>
  <div class="bg-container"></div>
  <div class="form">
    <div class="form__left">
      <div class="service">
        <p class="service__addres">მისამართი</p>
        <h3 class="service__info">ქ. თბილისი, ლუბლიანას ქ #56</h3>
        <p class="service__addres">ელ.ფოსტა</p>
        <h3 class="service__info">Info@casacalda.ge</h3>
        <p class="service__addres">ტელეფონი</p>
        <h3 class="service__info">032 2 311 525</h3>
        <p class="service__addres">სერვისი</p>
        <h3 class="service__info">032 2 455 554</h3>
      </div>
      <div class="soc-media">
        <img cla src="assets/images/media.png" alt="" />
      </div>
    </div>
    <div class="form__right">
      <div class="form--container">
        <form class="flex-col" [formGroup]="myForm">
          <div>
            <label class="label" for="name">
              სახელი და გვარი
              <input
                class="inputStyle w-full name--inp"
                id="Name"
                type="text"
                formControlName="name"
              />
            </label>
          </div>
          <div class="phone-number">
            <label class="label">
              ტელეფონის ნომერი
              <input
                class="inputStyle number--inp"
                type="text"
                formControlName="number"
                id="number"
              />
            </label>
          </div>

          <div class="email">
            <label class="label label-email">
              ელ.ფოსტა
              <input
                class="inputStyle email--inp"
                type="email"
                formControlName="email"
              />
            </label>
          </div>

          <div class="message">
            <label class="label"
              >გასაგზავნი შეტყობინების ტექსტი
              <textarea
                class="inputStyle w-full txtarea"
                formControlName="message"
              ></textarea>
            </label>
          </div>
          <div class="button">
            <app-button
              type="secondary"
              width="151px"
              height="60px"
              (clicked)="onClick()"
              >გაგზავნა</app-button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
