section h1 {
    width: 403px;
    height: 54px;
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #141414;
}
.paragraph {
    margin-top: 20px;
    justify-content: space-between;
}
.paragraph p {
    font-family: 'AvenirNextGeorgian-Regular';
    width: 790px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(20, 20, 20, 0.6);
    position: absolute;
}
.partners {
    margin-top: 37px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    height: 140px;
    background: #FFFFFF;
    border: 1px solid rgba(20, 20, 20, 0.1);
}
.img-container img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #141414;
    font-family: 'AvenirNextGeorgian-Regular';

}