<section class="our-services">
    <h1 class="service-title">ჩვენი სერვისები </h1>
    <div class="intro">
        <div class="services">
            <p>ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით ხანგრძლივი,<br> 
            მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და კომფორტულ გარემოს.</p>
        </div>
        <div class="card-slider-controls">
            <button class="left-arrow" (click)="prevCard()"><img src="assets/images/left-arrow.png" alt=""></button>
            <button (click)="nextCard()"><img src="assets/images/right-arrow.png" alt=""></button>
            
          </div> 
    </div>
    

<div class="card-slider-container">
    <div class="card" *ngFor="let card of cards" [class.active]="card === activeCard">
        
        <h3>{{ card.title }}</h3>
        <ul>
            <li>{{card.description}}</li>
            <li>{{card.description2}}</li>
            <li>{{card.description3}}</li>
            <li>{{card.description4}}</li>
            <li>{{card.description5}}</li>
            
            

        </ul>
        
        
        
      
         
            

    </div>
  </div>

  


  


</section>

