section {
  padding-left: 160px;
}

.main-container {
  justify-content: space-between;
}

.img-container {
  width: 180px;
  height: 60px;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}

.accordion {
  display: none;
}

.paragraph {
  width: 384px;
  height: 126px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  font-family: 'AvenirNextGeorgian-Regular';
  color: rgba(20, 20, 20, 0.6);
}

.logos {
  width: 180px;
  justify-content: space-between;
}

.logoDiv {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 14px;
  font-family: 'AvenirNextGeorgian-Light';
}

.casacalda--title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: rgba(20, 20, 20, 0.6);
  font-family: 'AvenirNextGeorgian-Regular';
  width: 266px;
}

.tbilisaxli--title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: rgba(20, 20, 20, 0.6);
}

.tbilisaxli--container {
  margin-top: 86px;
}

.services--container {
  margin-top: 86px;
}

.links--container {
  margin-top: 86px;
}

.map--container {
  display: flex;
}

.map--container img {
  max-width: 410px;
  width: 100%;
  height: 382px;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .responsive {
    padding: 0 16px;
  }

  .full-layout {
    display: none;
  }

  .accordion {
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  section {
    padding: 0 16px;
  }

  .main-container {
    flex-direction: column;
  }

  .logo--container {
    margin-top: 0;
    display: none;
  }

  .tbilisaxli--container {
    margin-top: 0;
    margin-left: 0;
  }

  .services--container {
    margin-top: 0;
    margin-left: 0;
  }

  .links--container {
    margin-top: 0;
    margin-left: 0;
  }

  .map--container {
    margin-left: 0;
    margin-top: 38px;
    display: none;
  }

  .logos {
    display: flex;
  }

  .example-accordion-item-header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: rgba(20, 20, 20, 0.6);
    margin-top: 20px;
  }

  .example-accordion-item-body {
    font-family: 'AvenirNextGeorgian-Regular';
    margin-top: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #141414;
  }

  .ng-star-inserted {
    margin-top: 16px;
  }

  .expanded {
    transform: rotate(180deg);
  }

  .colapsed {
    transform: rotate(0deg);
  }

  .casacalda--title {
    width: auto;
  }

  .map {
    margin-top: 38px;
  }

  .map img {
    width: 100%;
  }

  .br {
    border: 1px solid #e7e4e4;
    margin-top: 20px;
  }
}
