<section>
  <div class="main-container flex">
    <div class="logo--container mt-10">
      <div class="img-container">
        <img src="assets/img/logo-casacalda.jpg" alt="" />
      </div>
      <div class="paragraph mt-2.5">
        <p>
          კომპანია „თბილი სახლი“2001 წლიდან ფუნქციონირებს და მას მნიშვნელოვანი
          ადგილი უკავია ჩვენი ქვეყნის სამომხმარებლო ბაზარზე.
          <br />
          <br />
          კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი მიმართულებით
          ახორციელებს.
        </p>
      </div>
      <div class="logos flex flex-row mt-8">
        <div [routerLink]="['/#']" class="logoDiv">
          <img src="assets/img/facebook.jpg" alt="" />
        </div>
        <div [routerLink]="['/#']" class="logoDiv">
          <img src="assets/img/twitter.jpg" alt="" />
        </div>
        <div [routerLink]="['/#']" class="logoDiv">
          <img src="assets/img/instagram.jpg" alt="" />
        </div>
      </div>
      <div class="casacalda--title mt-6">
        <p>Casa Calda © 2023. ყველა უფლება დაცულია</p>
      </div>
    </div>

    <div class="mobile">
      <div class="tbilisaxli--container">
        <div class="flex flex-col">
          <div class="tbilisaxli--title">თბილი სახლი</div>
          <a [routerLink]="['/about-us']" class="title mt-4">ჩვენ შესახებ</a>
          <a [routerLink]="['/team']" class="title mt-4">თანამშრომლები</a>
          <a [routerLink]="['/contacts']" class="title mt-4">კონტაქტი</a>
          <a href="#" class="title mt-4">წესები და პირობები</a>
        </div>
      </div>
      <div class="services--container">
        <div class="flex flex-col">
          <div class="tbilisaxli--title">სერვისები</div>
          <a href="#" class="title mt-4">სუსტი დენები</a>
          <a href="#" class="title mt-4">მექანიკური სისტემები</a>
          <a href="#" class="title mt-4">წყალგაყვანილობის სისტემები</a>
          <a href="#" class="title mt-4">ამწე-სატრანსპორტო სისტემები</a>
          <a href="#" class="title mt-4">ელექტროობა</a>
        </div>
      </div>
      <div class="links--container">
        <div class="flex flex-col">
          <div class="tbilisaxli--title">სწრაფი ლინკები</div>
          <a [routerLink]="['/awards']" class="title mt-4">ჯილდოები</a>
          <a [routerLink]="['/my-partners']" class="title mt-4">პარტნიორები</a>
          <a [routerLink]="['/projects']" class="title mt-4">პროექტები</a>
        </div>
      </div>
    </div>

    <div class="desktop">
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          *ngFor="let item of items; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header flex justify-between"
            (click)="accordionItem.toggle()"
          >
            {{ item }}
            <div>
              <img
                [src]="imageUrl"
                [style.transform]="rotateStyle"
                (click)="rotateImage(index)"
                [class.expanded]="accordionItem.expanded"
                [class.colapsed]="!accordionItem.expanded"
              />
            </div>
          </div>

          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <div *ngFor="let menuItem of menu[index]">{{ menuItem }}</div>
          </div>

          <div *ngIf="index !== menu.length - 1" class="br"></div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>

    <div class="logos desktop flex flex-row mt-10">
      <div class="logoDiv">
        <img src="assets/img/facebook.jpg" alt="" />
      </div>
      <div class="logoDiv">
        <img src="assets/img/twitter.jpg" alt="" />
      </div>
      <div class="logoDiv">
        <img src="assets/img/instagram.jpg" alt="" />
      </div>
    </div>
    <div class="desktop casacalda--title mt-6">
      <p>Casa Calda © 2023. ყველა უფლება დაცულია</p>
    </div>

    <div class="map--container">
      <img src="assets/img/map.jpg" alt="" />
    </div>
  </div>
</section>
<div class="desktop map">
  <img src="assets/img/map.jpg" alt="" />
</div>
