<div class="full-layout">
  <div class="our-team">
    <div class="inner-layout layout--center flex flex-col">
      <section class="our-team-section">
        <div class="our-team-section__heading--arrow flex justify-between">
          <h1 class="our-team-section__heading--arrow__heading">ჩვენი გუნდი</h1>

          <div class="slider__arrow flex justify-between gap-10">
            <button
              (click)="carousel.prev()"
              class="left__arrow cursor-pointer"
            >
              <img src="assets/img/leftArrow.jpg" alt="" />
            </button>

            <button
              (click)="carousel.next()"
              class="right__arrow cursor-pointer"
            >
              <img src="assets/img/rightArrow.jpg" alt="" />
            </button>
          </div>
        </div>
      </section>
      <div class="our-team carousel-container">
        <owl-carousel-o #carousel [options]="customOptions">
          <ng-template
            carouselSlide
            [option]="OwlOptions"
            *ngFor="let item of cards"
          >
            <div class="flex justify-between">
              <div class="cont__div left flex flex-col">
                <div class="image--div">
                  <img [src]="item.img" />
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="name mt-5">
                  {{ item.NameSurname }}
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="title mt-2">
                  {{ item.title }}
                </div>
              </div>
              <div class="cont__div left flex flex-col">
                <div class="image--div">
                  <img [src]="item.img" />
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="name mt-5">
                  {{ item.NameSurname }}
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="title mt-2">
                  {{ item.title }}
                </div>
              </div>
              <div class="cont__div left flex flex-col">
                <div class="image--div">
                  <img [src]="item.img" />
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="name mt-5">
                  {{ item.NameSurname }}
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="title mt-2">
                  {{ item.title }}
                </div>
              </div>
              <div class="cont__div left flex flex-col">
                <div class="image--div">
                  <img [src]="item.img" />
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="name mt-5">
                  {{ item.NameSurname }}
                </div>
                <div [ngStyle]="{ 'text-align': textAlign }" class="title mt-2">
                  {{ item.title }}
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>

<div class="mobile owl-container">
  <h1 class="heading">ჩვენი გუნდი</h1>
  <div class="carousel-container">
    <owl-carousel-o #carousel [options]="customOptions">
      <ng-template
        carouselSlide
        [option]="OwlOptions"
        *ngFor="let item of card"
      >
        <div class="cont__div left flex flex-col">
          <div class="image--div">
            <img [src]="item.img" />
          </div>
          <div [ngStyle]="{ 'text-align': textAlign }" class="name mt-5">
            {{ item.NameSurname }}
          </div>
          <div [ngStyle]="{ 'text-align': textAlign }" class="title mt-2">
            {{ item.title }}
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
