<section class="our-team-section">
  <div class="heading--arrow flex">
    <h1 class="our-team-section-heading">ჩვენი გუნდი</h1>

    <div class="slider-arrow">
      <button (click)="prev()" class="left--arrow cursor-pointer">
        <img src="assets/img/leftArrow.jpg" alt="" />
      </button>

      <button (click)="next()" class="right-arrow cursor-pointer">
        <img src="assets/img/rightArrow.jpg" alt="" />
      </button>
    </div>
  </div>

  <div class="slider mt-6">
    <div class="slider-track" #sliderTrack>
      <div class="slider-item" *ngFor="let item of sliderData">
        <div class="cont--div left flex flex-col">
          <div class="image--div">
            <img [src]="item.left.img" />
          </div>
          <div class="name mt-5">
            {{ item.left.NameSurname }}
          </div>
          <div class="title mt-2">
            {{ item.left.title }}
          </div>
        </div>
        <div class="cont--div middle flex flex-col">
          <div class="image--div">
            <img src="{{ item.middle.img }}" />
          </div>
          <div class="name mt-5">
            {{ item.middle.NameSurname }}
          </div>
          <div class="title mt-2">
            {{ item.middle.title }}
          </div>
        </div>
        <div class="cont--div right flex flex-col">
          <div class="image--div">
            <img src="{{ item.right.img }}" />
          </div>
          <div class="name mt-5">
            {{ item.right.NameSurname }}
          </div>
          <div class="title mt-2">
            {{ item.right.title }}
          </div>
        </div>
        <div class="cont--div last flex flex-col">
          <div class="image--div">
            <img src="{{ item.last.img }}" />
          </div>
          <div class="name mt-5">
            {{ item.last.NameSurname }}
          </div>
          <div class="title mt-2">
            {{ item.last.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
