<section class="warm-house">
  
  <aside class="left-side">
    <div class="mobile-picture">
    <img class="picture" src="assets/images/Rectangle.png" alt="" />
  </div>
    <div class="title">
      <h1>თბილი სახლი</h1>
      <p>
        ევროპის, აზიისა და ამერიკის კონტინენტზე მოქმედი ცნობილი კომპანიების
        საიმედო პარტნიორია და <br />
        კლიენტებს სთავაზობს, როგორც <span>ხარისხიანი</span> პროდუქციის
        ასორტიმენტის სტანდარტულ მოდელებს, ასევე <br />
        ინდივიდუალური, სპეციფიური დაკვეთით დამზადებული პროდუქციის მოწოდებას
        <span>უმოკლეს დროში.</span>
      </p>
    </div>
    <hr />
    <div class="container">
      <div class="widget-contaier" *ngFor="let item of widgetValues">
        <app-widget class="widget" [label]="item.label">{{
          item.value
        }}</app-widget>
      </div>
    </div>
  </aside>
  <aside class="right-side">
    <img class="circle" src="assets/images/Group 14.png" alt="" />
    <img class="picture" src="assets/images/Rectangle.png" alt="" />
  </aside> 
</section>
