span{
    font-family: 'AvenirNextGeorgian-Bold';
    color: #245AA3;
    font-weight: 400;
}

.warm-house{
    margin-left:160px;
    display: flex;
}

.title{
    margin-top:193px;

h1{
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    color: #141414;   
}



p{
    width: 925px;
    height: 72px;
    font-family: 'AvenirNextGeorgian-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #141414;
    margin-top: 16px;
}
}

    .box-h1{
        margin-left:71px;
        font-family: 'AvenirNextGeorgian-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 150%;
        font-size: 48px;
        color: #F58634;
    }
    .box-p{
        margin-left:20px;
        font-family: 'AvenirNextGeorgian-Regular';
        font-weight: 500;
        color: rgba(20, 20, 20, 0.5);
    }
 

.box-container{
    display:flex;
    position: absolute;
    margin-top:132px;
}
.box1, .box2, .box3{
    margin-left:70px;
}

.warm-house{
    display: flex;
}
.picture{
    position: relative;
    z-index: -3;
    height: 469px;
    margin-left:30px;
    margin-top: 251px;
}
.circle{
    position: absolute;
    margin-top: 124px;
    margin-left: -66px;
}

.widget-container{
    display: flex;
    margin-top: 52px;
    gap:120px;
    
}

.container{
    display: flex;
    flex-direction: row;
    gap: 110px;
}

