span {
  font-family: 'AvenirNextGeorgian-Bold';
  color: #245aa3;
  font-weight: 400;
}

.warm-house {
  margin-left: 160px;
  display: flex;
}

.title {
  margin-top: 193px;

  h1 {
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    color: #141414;
  }
  p {
    width: 925px;
    height: 72px;
    font-family: 'AvenirNextGeorgian-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #141414;
    margin-top: 16px;
  }
}

hr {
  width: 1060px;
  height: 1px;
  margin-top: 74px;
}

.box-h1 {
  margin-left: 71px;
  font-family: 'AvenirNextGeorgian-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  font-size: 48px;
  color: #f58634;
}
.box-p {
  margin-left: 20px;
  font-family: 'AvenirNextGeorgian-Regular';
  font-weight: 500;
  color: rgba(20, 20, 20, 0.5);
}

.box-container {
  display: flex;
  position: absolute;
  margin-top: 132px;
}
.box1,
.box2,
.box3 {
  margin-left: 70px;
}

.warm-house {
  display: flex;
}
.picture {
  width: 100%;
  height: auto;
  position: relative;
  height: 469px;
  padding-left: 30px;
  margin-top: 251px;
}

.circle {
  position: absolute;
  margin-top: 124px;
  margin-left: -66px;
  z-index: 5;
}

.widget-container {
  display: flex;
  margin-top: 52px;
  gap: 120px;
  // width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 110px;
  margin-top: 50px;
}

.mobile-picture {
  display: none;
}
.paragraph-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .right-side {
    display: none;
  }
  .mobile-picture {
    display: block;
    width: 100% !important;
  }
  .picture {
    margin-top: 0px !important;
    padding-left: 0px !important;
    width: 100% !important;
    height: auto;
  }

  .warm-house {
    margin-left: 0px !important;
    padding: 0 16px;
    padding-top: 16px;
  }

  .title {
    margin-top: 0px;
    h1 {
      font-family: 'AvenirNextGeorgian-Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      color: #141414;
      padding-top: 22px;
    }
  }

  p {
    display: none;
  }

  .paragraph-mobile {
    display: block;
    width: 100% !important;
    font-size: 14px !important;
  }
  hr {
    display: none;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px !important;
    margin-top: 100px;
    width: 100%;
  }

  .widget-container{
    justify-content: center;
    width: 50%;
  }

  .left-side{
    width: 100% !important;
  }
  
}
