<section class="partners">
  <div class="partners__container flex flex-col">
    <div class="partners__container--firstheading">
      <h1>თქვენი საიმედო პარტნიორი</h1>
    </div>
    <div class="partners__container--secondheading">
      <h1>კომპანია „თბილი სახლი”</h1>
    </div>
  </div>
  <div class="partners__img--container">
    <div class="partners__img--container--grey">
      <img src="" alt="" />
    </div>
    <div class="partners__img--container--blue">
      <p>
        ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით
        ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და
        კომფორტულ გარემოს. კომპანია „თბილი სახლი“2001 წლიდან ფუნქციონირებს და
        მას მნიშვნელოვანი ადგილი უკავია ჩვენი ქვეყნის სამომხმარებლო ბაზარზე.
        კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი მიმართულებით
        ახორციელებს. „თბილი სახლი“ ევროპის, აზიისა და ამერიკის კონტინენტზე
        მოქმედი ცნობილი კომპანიების საიმედო პარტნიორია და კლიენტებს სთავაზობს,
        როგორც ხარისხიანი პროდუქციის ასორტიმენტის სტანდარტულ მოდელებს, ასევე
        ინდივიდუალური, სპეციფიური დაკვეთით დამზადებული პროდუქციის მოწოდებას
        უმოკლეს დროში. კომპანიაში მუშაობს გამოცდილი და მაღალი კვალიფიკაციის
        მქონე თანამშრომლების გუნდი, რაც ჩვენი წარმატებული საქმიანობისა და
        პროფესიონალიზმის უტყუარი დადასტურებაა. ამასთან, საინჟინრო კომუნიკაციების
        სპეციალისტები პერიოდულად გადიან სტაჟირებას პარტნიორ უცხოურ კომპანიებში
        და გააჩნიათ სათანადო ლიცენზია/ნებართვა მათ მიერ წარმოებული პროდუქციის
        ინსტალაციაზე და მომსახურებაზე დაშვების.
      </p>
    </div>
  </div>
</section>
