.mobile {
  display: none;
}

.partners {
  margin-top: 110px;

  &__container {
    padding-left: 160px;
    width: 100%;

    &--firstheading {
      font-family: 'AvenirNextGeorgian-Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #141414;
      max-width: 1060px;
      width: 100%;

      h1 {
        font-family: 'AvenirNextGeorgian-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 150%;
      }
    }

    &--secondheading {
      font-family: 'AvenirNextGeorgian-Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #245aa3;
      margin-top: 30px;

      h1 {
        font-family: 'AvenirNextGeorgian-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
      }
    }
  }

  &__img--container {
    &--first {
      background: url('/assets/img/blue-bg.png') bottom center repeat-x;
      height: 889px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // width: 100%;
      // max-width: 1920px;

      &--grey {
        max-width: 1330px;
        width: 100%;
        height: 549px;
        background: #d9d9d9;
      }

      & p {
        font-family: 'AvenirNextGeorgian-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        color: #ffffff;
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .partners {
    padding: 0 16px;
    margin-top: 20px;

    &__container {
      padding-left: 0;

      &--firstheading {
        font-family: 'AvenirNextGeorgian-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #141414;
        width: 100%;
        height: 72px;

        h1 {
          font-family: 'AvenirNextGeorgian-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          color: #141414;
        }
      }

      &--secondheading {
        font-family: 'AvenirNextGeorgian-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #245aa3;
        width: 100%;
        margin-top: 0;

        h1 {
          font-family: 'AvenirNextGeorgian-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
        }
      }
    }

    &__img--container {
      margin-top: 0;

      &--first {
        background: url('/assets/img/blue-bg.png') bottom center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 16px;
        height: 100%;
        margin-top: 10px;

        &--grey {
          width: 100%;
          height: 357px;
          margin-top: -150px;
        }

        & p {
          font-family: 'AvenirNextGeorgian-Regular';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 170%;
          color: #ffffff;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 24px;
        }
      }
    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 150px;
  }
}
