<div class="full-layout">
  <div class="layout">
    <div class="">
      <section class="partners">
        <div class="partners__container flex flex-col">
          <div class="partners__container--firstheading">
            <h1>თქვენი საიმედო პარტნიორი</h1>
          </div>
          <div class="partners__container--secondheading">
            <h1>კომპანია „თბილი სახლი”</h1>
          </div>
        </div>
        <div class="desktop partners__img--container mt-10">
          <div class="partners__img--container--first">
            <div class="partners__img--container--first--grey"></div>
            <div class="partners__img--container--first--p">
              <p>
                <!-- ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის
                მეშვეობით ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში
                შეუქმნის ჯანსაღ და კომფორტულ გარემოს. კომპანია „თბილი სახლი“2001
                წლიდან ფუნქციონირებს და მას მნიშვნელოვანი ადგილი უკავია ჩვენი
                ქვეყნის სამომხმარებლო ბაზარზე.
                <br />
                <br />
                კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი
                მიმართულებით ახორციელებს. <br />
                „თბილი სახლი“ ევროპის, აზიისა და ამერიკის კონტინენტზე მოქმედი
                ცნობილი კომპანიების საიმედო პარტნიორია და კლიენტებს სთავაზობს,
                როგორც ხარისხიანი პროდუქციის <br />
                ასორტიმენტის სტანდარტულ მოდელებს, ასევე ინდივიდუალური,
                სპეციფიური დაკვეთით დამზადებული პროდუქციის მოწოდებას უმოკლეს
                დროში.<br />
                <br />
                კომპანიაში მუშაობს გამოცდილი და მაღალი კვალიფიკაციის მქონე
                თანამშრომლების გუნდი, რაც ჩვენი წარმატებული საქმიანობისა და
                პროფესიონალიზმის უტყუარი დადასტურებაა. ამასთან, საინჟინრო
                კომუნიკაციების სპეციალისტები პერიოდულად გადიან სტაჟირებას
                პარტნიორ უცხოურ კომპანიებში და გააჩნიათ სათანადო
                ლიცენზია/ნებართვა მათ მიერ წარმოებული პროდუქციის ინსტალაციაზე და
                მომსახურებაზე დაშვების. -->
                ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის
                მეშვეობით ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში
                შეუქმნის ჯანსაღ და კომფორტულ გარემოს. კომპანია „თბილი სახლი“2001
                წლიდან ფუნქციონირებს და მას მნიშვნელოვანი ადგილი უკავია ჩვენი
                ქვეყნის სამომხმარებლო ბაზარზე.
                <br />
                <br />
                კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი
                მიმართულებით ახორციელებს. <br />
                „თბილი სახლი“ ევროპის, აზიისა და ამერიკის კონტინენტზე მოქმედი
                ცნობილი კომპანიების საიმედო პარტნიორია და კლიენტებს სთავაზობს,
                როგორც ხარისხიანი პროდუქციის <br />
                ასორტიმენტის სტანდარტულ მოდელებს, ასევე ინდივიდუალური,
                სპეციფიური დაკვეთით დამზადებული პროდუქციის მოწოდებას უმოკლეს
                დროში.<br />
                <br />
                კომპანიაში მუშაობს გამოცდილი და მაღალი კვალიფიკაციის მქონე
                თანამშრომლების გუნდი, რაც ჩვენი წარმატებული საქმიანობისა და
                პროფესიონალიზმის უტყუარი დადასტურებაა. ამასთან, საინჟინრო
                კომუნიკაციების სპეციალისტები პერიოდულად გადიან სტაჟირებას
                პარტნიორ უცხოურ კომპანიებში და გააჩნიათ სათანადო
                ლიცენზია/ნებართვა მათ მიერ წარმოებული პროდუქციის ინსტალაციაზე და
                მომსახურებაზე დაშვების.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="mobile partners__img--container mt-10">
        <div class="partners__img--container--first">
          <div class="partners__img--container--first--grey"></div>
          <p>
            ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით
            ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და
            კომფორტულ გარემოს. კომპანია „თბილი სახლი“2001 წლიდან ფუნქციონირებს
            და მას მნიშვნელოვანი ადგილი უკავია ჩვენი ქვეყნის სამომხმარებლო
            ბაზარზე.
            <br />
            <br />
            კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი
            მიმართულებით ახორციელებს. <br />
            „თბილი სახლი“ ევროპის, აზიისა და ამერიკის კონტინენტზე მოქმედი
            ცნობილი კომპანიების საიმედო პარტნიორია და კლიენტებს სთავაზობს,
            როგორც ხარისხიანი პროდუქციის <br />
            ასორტიმენტის სტანდარტულ მოდელებს, ასევე ინდივიდუალური, სპეციფიური
            დაკვეთით დამზადებული პროდუქციის მოწოდებას უმოკლეს დროში.<br />
            <br />
            კომპანიაში მუშაობს გამოცდილი და მაღალი კვალიფიკაციის მქონე
            თანამშრომლების გუნდი, რაც ჩვენი წარმატებული საქმიანობისა და
            პროფესიონალიზმის უტყუარი დადასტურებაა. ამასთან, საინჟინრო
            კომუნიკაციების სპეციალისტები პერიოდულად გადიან სტაჟირებას პარტნიორ
            უცხოურ კომპანიებში და გააჩნიათ სათანადო ლიცენზია/ნებართვა მათ მიერ
            წარმოებული პროდუქციის ინსტალაციაზე და მომსახურებაზე დაშვების.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <section class="partners">
  <div class="partners__container flex flex-col">
    <div class="partners__container--firstheading">
      <h1>თქვენი საიმედო პარტნიორი</h1>
    </div>
    <div class="partners__container--secondheading">
      <h1>კომპანია „თბილი სახლი”</h1>
    </div>
  </div>
  <div class="desktop partners__img--container mt-10">
    <div class="partners__img--container--first">
      <div class="partners__img--container--first--grey"></div>
      <p>
        ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით
        ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და
        კომფორტულ გარემოს. კომპანია „თბილი სახლი“2001 წლიდან ფუნქციონირებს და
        მას მნიშვნელოვანი ადგილი უკავია ჩვენი ქვეყნის სამომხმარებლო ბაზარზე.
        <br />
        <br />
        კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი მიმართულებით
        ახორციელებს. <br />
        „თბილი სახლი“ ევროპის, აზიისა და ამერიკის კონტინენტზე მოქმედი ცნობილი
        კომპანიების საიმედო პარტნიორია და კლიენტებს სთავაზობს, როგორც ხარისხიანი
        პროდუქციის <br />
        ასორტიმენტის სტანდარტულ მოდელებს, ასევე ინდივიდუალური, სპეციფიური
        დაკვეთით დამზადებული პროდუქციის მოწოდებას უმოკლეს დროში.<br />
        <br />
        კომპანიაში მუშაობს გამოცდილი და მაღალი კვალიფიკაციის მქონე
        თანამშრომლების გუნდი, რაც ჩვენი წარმატებული საქმიანობისა და
        პროფესიონალიზმის უტყუარი დადასტურებაა. ამასთან, საინჟინრო კომუნიკაციების
        სპეციალისტები პერიოდულად გადიან სტაჟირებას პარტნიორ უცხოურ კომპანიებში
        და გააჩნიათ სათანადო ლიცენზია/ნებართვა მათ მიერ წარმოებული პროდუქციის
        ინსტალაციაზე და მომსახურებაზე დაშვების.
      </p>
    </div>
  </div>
</section>
<div class="mobile partners__img--container mt-10">
  <div class="partners__img--container--first">
    <div class="partners__img--container--first--grey"></div>
    <p>
      ჩვენთან შეძენილი პროდუქცია მომხმარებელს სათანადო სერვისის მეშვეობით
      ხანგრძლივი, მრავალწლიანი პერიოდის განმავლობაში შეუქმნის ჯანსაღ და
      კომფორტულ გარემოს. კომპანია „თბილი სახლი“2001 წლიდან ფუნქციონირებს და მას
      მნიშვნელოვანი ადგილი უკავია ჩვენი ქვეყნის სამომხმარებლო ბაზარზე.
      <br />
      <br />
      კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი მიმართულებით
      ახორციელებს. <br />
      „თბილი სახლი“ ევროპის, აზიისა და ამერიკის კონტინენტზე მოქმედი ცნობილი
      კომპანიების საიმედო პარტნიორია და კლიენტებს სთავაზობს, როგორც ხარისხიანი
      პროდუქციის <br />
      ასორტიმენტის სტანდარტულ მოდელებს, ასევე ინდივიდუალური, სპეციფიური დაკვეთით
      დამზადებული პროდუქციის მოწოდებას უმოკლეს დროში.<br />
      <br />
      კომპანიაში მუშაობს გამოცდილი და მაღალი კვალიფიკაციის მქონე თანამშრომლების
      გუნდი, რაც ჩვენი წარმატებული საქმიანობისა და პროფესიონალიზმის უტყუარი
      დადასტურებაა. ამასთან, საინჟინრო კომუნიკაციების სპეციალისტები პერიოდულად
      გადიან სტაჟირებას პარტნიორ უცხოურ კომპანიებში და გააჩნიათ სათანადო
      ლიცენზია/ნებართვა მათ მიერ წარმოებული პროდუქციის ინსტალაციაზე და
      მომსახურებაზე დაშვების.
    </p>
  </div>
</div> -->
