<section class="desktop">
  <h1 class="heading">ჩვენი პარტნიორები</h1>
  <div class="flex paragraph">
    <div>
      <p>
        შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული
        ნაწარმის შემქმნელებს, <br />
        რეალურთან მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს
      </p>
    </div>
  </div>
  <div class="partners">
    <div class="flex flex-col ...">
      <div class="flex gap-5 flex-row ...">
        <div class="img-container">
          <img src="assets/img/Picture3.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture1.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture5.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture2.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture4.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture11.jpg" alt="" />
        </div>
      </div>
      <div class="flex space-x-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/eltn.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/ecoflam.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/samsung.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/detectomat.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/avigilon.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/salto.jpg" alt="" />
        </div>
      </div>
      <div class="flex gap-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/Cisco.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Vingcard.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/kmc.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/ayvaz.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/skidata.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/sakcable.jpg" alt="" />
        </div>
      </div>
      <div class="flex gap-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/sdmo.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/perkins.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/vbw.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/protec.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/rcf.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/cross.jpg" alt="" />
        </div>
      </div>
      <div class="flex gap-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/icaudio.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/china.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/megatherm.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/viking.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/valsir.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/schneider.jpg" alt="" />
        </div>
      </div>
      <div class="flex gap-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/faberkabel.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/martoni.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/sp.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/rbm.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="mobile">
  <h1 class="heading">ჩვენი პარტნიორები</h1>
  <div class="flex paragraph">
    <div>
      <p>
        შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული
        ნაწარმის შემქმნელებს, <br />
        რეალურთან მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს
      </p>
    </div>
  </div>
  <div class="partners">
    <div class="flex flex-col ...">
      <div class="mobile-img-div flex gap-5 flex-row ...">
        <div class="img-container">
          <img src="assets/img/Picture3.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture1.jpg" alt="" />
        </div>
        <div class="img-container tablet">
          <img src="assets/img/Picture5.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/Picture2.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/Picture4.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/Picture11.jpg" alt="" />
        </div>
      </div>
      <div class="mobile-img-div flex space-x-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/eltn.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/ecoflam.jpg" alt="" />
        </div>
        <div class="img-container tablet">
          <img src="assets/img/samsung.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/detectomat.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/avigilon.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/salto.jpg" alt="" />
        </div>
      </div>
      <div class="mobile-img-div flex gap-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/Cisco.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Vingcard.jpg" alt="" />
        </div>
        <div class="img-container tablet">
          <img src="assets/img/kmc.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/ayvaz.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/skidata.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/sakcable.jpg" alt="" />
        </div>
      </div>
      <div class="mobile-img-div flex gap-5 flex-row ...">
        <div class="img-container">
          <img src="assets/img/Picture3.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Picture1.jpg" alt="" />
        </div>
        <div class="img-container tablet">
          <img src="assets/img/Picture5.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/Picture2.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/Picture4.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/Picture11.jpg" alt="" />
        </div>
      </div>
      <div class="mobile-img-div flex space-x-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/eltn.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/ecoflam.jpg" alt="" />
        </div>
        <div class="img-container tablet">
          <img src="assets/img/samsung.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/detectomat.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/avigilon.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/salto.jpg" alt="" />
        </div>
      </div>
      <div class="mobile-img-div flex gap-5 ... flex-row ... mt-4">
        <div class="img-container">
          <img src="assets/img/Cisco.jpg" alt="" />
        </div>
        <div class="img-container">
          <img src="assets/img/Vingcard.jpg" alt="" />
        </div>
        <div class="img-container tablet">
          <img src="assets/img/kmc.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/ayvaz.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/skidata.jpg" alt="" />
        </div>
        <div class="img-container desktop">
          <img src="assets/img/sakcable.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
