<section>
    <div>
        <h1 class="heading">რას ამბობენ ჩვენზე?</h1>
    </div>
    <!-- <div class="assessment">
        <div class="flex flex-row ...">
            <div class="company">
                
            </div>
            <div class="company">
                
            </div>
            <div class="company">
                
            </div>
        </div>
    </div> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">Nika</button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">Nika</button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">Nika</button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src=".assets/img/Picture3.jpg" class="d-block w-100" alt="..."> -->
            <p class="d-block w-100">nika</p>
          </div>
          <div class="carousel-item">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <p aria-activedescendant="active" class="d-block w-100">gio</p>
          </div>
          <div class="carousel-item">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <p class="d-block w-100">dato</p>
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>
</section>
