section {
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 20px;
}

section h1 {
    min-width: 421px;
    min-height: 54px;
    font-family: 'AvenirNextGeorgian-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #141414;
}