.full {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-container {
  height: 300px;
  max-width: 1920px;
  width: 100%;
}

.slider-card {
  height: 315px;
  border: 1px solid #000;
  margin: 0 10px;
  background: #f9f9f9;
  padding: 0 8px;
  
}
