.contact {
  &__section {
    display: flex;
    border: 3px solid red;
    width: 100%;
    height: 654px;
  }
}
.contactgreeting {
  border: 1px solid blue;
  &--title {
    border: 1px solid yellow;
  }
  &--text {
    border: 1px solid green;
  }
}
