@tailwind base;
@tailwind components;
@tailwind utilities;


 @font-face {
 font-family:'AvenirNextGeorgian-Regular';
 src:url('/assets/fonts/avenir-georgian/AvenirNextGeorgian-Regular.otf')format('truetype');
 }
 @font-face {
  font-family:'AvenirNextGeorgian-Bold';
  src:url('/assets/fonts/avenir-georgian/AvenirNextGeorgian-Bold.otf')format('truetype');
  }
 

@font-face {
  font-family: "AvenirNextGeorgian-Bold";
  src: url("/assets/fonts/avenir-georgian/AvenirNextGeorgian-Bold.otf")
    format("truetype");
}

*:focus {
  outline: none;
}

.layout {
  display: flex;
  flex-direction: column;
}
