@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
 font-family:'AvenirNextGeorgian-Regular';
 src:url('/assets/fonts/AvenirNextGeorgian-Regular.otf')format('truetype');
 }


.layout {
  display: flex;
  flex-direction: column;
}
