<section>
    <div class="main-container">
        <div class="logo--container mt-10">
            <div class="img-container">
                <img src="assets/img/logo-casacalda.jpg" alt="">
            </div>
            <div class="paragraph mt-2.5">
                <p>კომპანია „თბილი სახლი“2001 წლიდან ფუნქციონირებს და მას მნიშვნელოვანი ადგილი უკავია ჩვენი ქვეყნის სამომხმარებლო ბაზარზე.
                    <br>
                    <br>
                    კომპანია საქმიანობას სახალხო მეურნეობის დარგების მრავალი მიმართულებით ახორციელებს.</p>
            </div>
            <div class="logos flex flex-row mt-8">
                <div class="logoDiv">
                    <img src="assets/img/facebook.jpg" alt="">
                </div>
                <div class="logoDiv">
                    <img src="assets/img/twitter.jpg" alt="">
                </div>
                <div class="logoDiv">
                    <img src="assets/img/instagram.jpg" alt="">
                </div>
            </div>
            <div class="casacalda--title mt-6">
                <p>Casa Calda © 2023. ყველა უფლება დაცულია</p>
            </div>
        </div>
        <div class="tbilisaxli--container">
            <div class="flex flex-col">
                <div class="">თბილი სახლი</div>
                <div class="">ჩვენ შესახებ</div>
                <div class="">თანამშრომლები</div>
                <div class="">კონტაქტი</div>
                <div class="">წესები და პირობები</div>

            </div>
        </div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
    </div>
</section>