<section>
    <h1>ჩვენი პარტნიორები</h1>
    <div class="flex paragraph">
        <p>შემთხვევითად გენერირებული ტექსტი ეხმარება დიზაინერებს და ტიპოგრაფიული ნაწარმის შემქმნელებს, <br>
         რეალურთან მაქსიმალურად მიახლოებული შაბლონი წარუდგინონ შემფასებელს</p>    
        <div class="">
            <button class="ml-500 ... rounded-full ...">სრული სია</button>
        </div>
    </div>
    <div class="partners flex flex-nowrap">
        <!-- <div class="image1">
            <div class="photo1"></div>
        </div> -->
        <!-- <div class="image2">
            <div class="photo2"></div>
        </div>
        <div class="image3">
            <div class="photo3"></div>
        </div>
        <div class="image4">
            <div class="photo4"></div>
        </div>
        <div class="image5">
            <div class="photo5"></div>
        </div> -->
    </div>
</section>